$primary: #616161;
$primary-light: #8e8e8e;
$primary-p: white;
$primary-light-p: black;

.charts {
  font-size: 10px;
  grid-area: charts;
  padding: 25px;

  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
    .sum-chart,
    .daily-chart {
      display: flex;
      flex-direction: column;    }
}
